<% provide(:title, "Update") %>
<h1>Update Name</h1>
<div class="row">
  <div class= "col-md-6 col-md-offset-3">
    <%= form_with(model: @user, local: true) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= render 'shared/error_messages' %>

      <%= f.submit "Update Account", class: 'btn btn-success' %>
      <% end %>
  </div>
</div>

