<% provide(:title, @user.name) %>
<div class="user-info">
  <h1><%= @user.name %></h1>
  <ul>
    <li><%= link_to "Account settings", signup_path, class: "" %></li>
    <li><%= link_to "All my transactions", signup_path, class: "" %></li>
    <li><%= link_to "All my external transactions", signup_path, class: "" %></li>
    <li><%= link_to "All groups", signup_path, class: "" %></li>
  </ul>
</div>
