<% provide(:title, "New Exercise") %>
<h1>Create new exercise</h1>
<div class="row">
  <div class= "col-md-6 col-md-offset-3">
    <%= render 'shared/messages_exercise' %>
    <%= form_with(scope: :exercise, url: exercises_path, local: true) do |f| %>
    <div>
      <%= f.label :group %><br>
      <% @groups.each do |group|  %>
    <%= check_box_tag 'exercise[groups][]', group.id %>
    <span><%= group.name %></span>
  <% end %>
    </div>

      <%= f.label :name %>
      <%= f.text_field :name, placeholder: 'Enter name of exercise', class: 'form-control' %>

      <%= f.label :duration %>
      <%= f.number_field :duration, placeholder: "Enter duration in hours", class: 'form-control' %>

      <%= f.submit "Create Exercise", class: 'btn btn-success' %>
      <% end %>
  </div>
</div>
