<% provide(:title, "New Exercise") %>
<h1>Create new exercise</h1>
<div class="row">
  <div class= "col-md-6 col-md-offset-3">
    <%= form_with(model: @exercise, local: true) do |f| %>
    <div class="box">
      <%= f.label :group_ids, "Group" %>
        <% @groups.each do |group| %>
            <div>
              <%= f.label :group_ids, group.name %>
              <%= f.check_box(:group_ids, {multiple: true}, group.id) %>
            </div>
          <% end %>
        </div>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :duration %>
      <%= f.number_field :duration, class: 'form-control' %>

      <%= f.submit "Create Exercise", class: 'btn btn-success' %>
      <% end %>
  </div>
</div>
