<head>
  <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="image" property="og:image" content="https://res.cloudinary.com/dkhpky7a4/image/upload/v1613416572/ogimage_czroy8.png">
    <meta name="description" property="og:description" content="A web app for logging exercises">
    <meta name="author" content="Ahmad Chata">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
